
Intermediate/CachedAssetRegistry_0.bin
Intermediate/ShaderAutogen/PCD3D_SM5/AutogenShaderHeaders.ush
Intermediate/ShaderAutogen/PCD3D_SM6/AutogenShaderHeaders.ush
Saved/Autosaves/Engine/MapTemplates/Materials/BasicAsset03_Auto1.uasset
Saved/Autosaves/Engine/MapTemplates/Materials/BasicAsset03_Auto3.uasset
Saved/Autosaves/Engine/MapTemplates/Materials/BasicAsset03_Auto6.uasset
Saved/Autosaves/Engine/VREditor/TransformGizmo/RotationHandleFull_Auto5.uasset
Saved/Autosaves/Engine/VREditor/TransformGizmo/RotationHandleFull_Auto6.uasset
Saved/Autosaves/Game/Characters/Pilot/Blueprints/BP_Pilot_Base_Auto1.uasset
Saved/Autosaves/Game/Characters/Pilot/Blueprints/BP_Pilot_Base_Auto2.uasset
Saved/Autosaves/Game/Characters/Pilot/Blueprints/BP_Pilot_Base_Auto3.uasset
Saved/Autosaves/Game/Characters/Pilot/Blueprints/BP_Pilot_Base_Auto4.uasset
Saved/Autosaves/Game/Characters/Pilot/Blueprints/BP_Pilot_Base_Auto7.uasset
Saved/Autosaves/Game/Characters/Pilot/Blueprints/PC_Pilot_Arena_Auto1.uasset
Saved/Autosaves/Game/Characters/Pilot/Blueprints/PC_Pilot_Arena_Auto2.uasset
Saved/Autosaves/Game/Characters/Pilot/Blueprints/PC_Pilot_Arena_Auto3.uasset
Saved/Autosaves/Game/Characters/Pilot/NewBlueprint1_Auto1.uasset
Saved/Autosaves/Game/Characters/Pilot/NewBlueprint_Auto1.uasset
Saved/Autosaves/Game/Characters/Pilot/PawnFly_Auto1.uasset
Saved/Autosaves/Game/Characters/Pilot/PawnFly_Auto2.uasset
Saved/Autosaves/Game/Characters/Pilot/PawnFly_Auto3.uasset
Saved/Autosaves/Game/Characters/Pilot/PawnFly_Auto4.uasset
Saved/Autosaves/Game/Characters/Pilot/PawnFly_Auto5.uasset
Saved/Autosaves/Game/Characters/Pilot/PawnFly_Auto6.uasset
Saved/Autosaves/Game/Characters/Pilot/PawnFly_Auto7.uasset
Saved/Autosaves/Game/Characters/Pilot/PhysicShip_Auto1.uasset
Saved/Autosaves/Game/Characters/Pilot/PhysicShip_Auto2.uasset
Saved/Autosaves/Game/Characters/Pilot/PhysicShip_Auto3.uasset
Saved/Autosaves/Game/Characters/Pilot/PhysicShip_Auto4.uasset
Saved/Autosaves/Game/Characters/Pilot/PhysicShip_Auto5.uasset
Saved/Autosaves/Game/Characters/Pilot/PhysicShip_Auto7.uasset
Saved/Autosaves/Game/Characters/Pilot/PP_TestCube_Auto0.uasset
Saved/Autosaves/Game/Characters/Pilot/PP_TestCube_Auto1.uasset
Saved/Autosaves/Game/Characters/Pilot/PP_TestCube_Auto2.uasset
Saved/Autosaves/Game/Characters/Pilot/PP_TestCube_Auto3.uasset
Saved/Autosaves/Game/Characters/Pilot/PP_TestCube_Auto4.uasset
Saved/Autosaves/Game/Characters/Pilot/PP_TestCube_Auto5.uasset
Saved/Autosaves/Game/Characters/Pilot/PP_TestCube_Auto6.uasset
Saved/Autosaves/Game/Characters/Pilot/PP_TestCube_Auto7.uasset
Saved/Autosaves/Game/Characters/Pilot/PP_TestCube_Auto8.uasset
Saved/Autosaves/Game/Characters/Pilot/PP_TestCube_Auto9.uasset
Saved/Autosaves/Game/Characters/Pilot/SC_HoverSpring_Auto1.uasset
Saved/Autosaves/Game/Characters/Pilot/SC_HoverSpring_Auto2.uasset
Saved/Autosaves/Game/Characters/Pilot/SC_HoverSpring_Auto5.uasset
Saved/Autosaves/Game/Characters/Pilot/SC_HoverSpring_Auto6.uasset
Saved/Autosaves/Game/Characters/Pilot/SM_Suzanne_Auto6.uasset
Saved/Autosaves/Game/Characters/Pilot/VTH/Anim/VTH_ABP_Auto1.uasset
Saved/Autosaves/Game/Characters/Pilot/VTH/Anim/VTH_ABP_Auto2.uasset
Saved/Autosaves/Game/Characters/Pilot/VTH/MESHES/SKM_RofloShip_Auto1.uasset
Saved/Autosaves/Game/Characters/Pilot/VTH/MESHES/SKM_RofloShip_PhysicsAsset_Auto1.uasset
Saved/Autosaves/Game/Characters/Pilot/VTH/MESHES/VHT_SK_PHYSIC_ASSET_Auto1.uasset
Saved/Autosaves/Game/Characters/Pilot/VTH/MESHES/VHT_SK_PHYSIC_ASSET_Auto6.uasset
Saved/Autosaves/Game/Characters/Pilot/VTH/MESHES/VHT_SK_PHYSIC_ASSET_Auto7.uasset
Saved/Autosaves/Game/Characters/Pilot/VTH/MESHES/VTH_SKELETON_Auto2.uasset
Saved/Autosaves/Game/Characters/Pilot/VTH/MESHES/VTH_SKELETON_Auto3.uasset
Saved/Autosaves/Game/Characters/Pilot/VTH/MESHES/VTH_SKELETON_Auto5.uasset
Saved/Autosaves/Game/Characters/Pilot/VTH/Plane/PlaneMoreBone/SKM_PlaneMoreBones_Auto7.uasset
Saved/Autosaves/Game/Characters/Pilot/VTH/Plane/PlaneMoreBone/SKM_PlaneMoreBones_PhysicsAsset_Auto7.uasset
Saved/Autosaves/Game/Characters/Pilot/VTH/Plane/PlaneMoreBone/SKM_PlaneMoreBones_Skeleton_Auto7.uasset
Saved/Autosaves/Game/Characters/Pilot/VTH/Plane/SKM_Plane_Auto2.uasset
Saved/Autosaves/Game/Characters/Pilot/VTH/Plane/SKM_Plane_Physics_Auto2.uasset
Saved/Autosaves/Game/Characters/Pilot/VTH/Plane/SKM_Plane_Physics_Auto6.uasset
Saved/Autosaves/Game/Characters/Pilot/VTH/Plane/SKM_Plane_Skeleton_Auto2.uasset
Saved/Autosaves/Game/Characters/Pilot/VTH/Plane/SKM_Plane_Skeleton_Auto6.uasset
Saved/Autosaves/Game/GameModes/GM_Arena_Base_Auto1.uasset
Saved/Autosaves/Game/GameModes/GM_Arena_Base_Auto2.uasset
Saved/Autosaves/Game/GameModes/GM_Arena_Base_Auto3.uasset
Saved/Autosaves/Game/GameModes/GM_Arena_Base_Auto4.uasset
Saved/Autosaves/Game/GameModes/GM_Arena_Base_Auto5.uasset
Saved/Autosaves/Game/Maps/_GENERATED/User/VTH_SK_2614B8CE_Auto1.uasset
Saved/Autosaves/Game/Maps/_GENERATED/User/VTH_SK_2614B8CE_Auto3.uasset
Saved/Autosaves/Game/Maps/_GENERATED/User/VTH_SK_2614B8CE_Auto5.uasset
Saved/Autosaves/Game/Maps/TestMechanics_Auto1.umap
Saved/Autosaves/Game/Maps/TestMechanics_Auto2.umap
Saved/Autosaves/Game/Maps/TestMechanics_Auto3.umap
Saved/Autosaves/Game/Maps/TestMechanics_Auto4.umap
Saved/Autosaves/Game/Maps/TestMechanics_Auto5.umap
Saved/Autosaves/Game/Maps/TestMechanics_Auto6.umap
Saved/Autosaves/Game/Maps/TestMechanics_Auto7.umap
Saved/Autosaves/Game/ModularSciFiWeapons/Prefabs/ModularSciFiWeapons/Weapons/BP_ModularSci-FiWeapons_Weapon05_Auto1.uasset
Saved/Autosaves/Game/Weapons/BP_Bullet_Base_Auto2.uasset
Saved/Autosaves/Game/Weapons/SMC_Weapon_Base_Auto1.uasset
Saved/Autosaves/Game/Weapons/SMC_Weapon_Base_Auto2.uasset
Saved/Autosaves/Game/Weapons/SMC_Weapon_Base_Auto3.uasset
Saved/Autosaves/PackageRestoreData.json
Saved/AutoScreenshot.png
Saved/Config/ConsoleHistory.ini
Saved/Config/CrashReportClient/UECC-Windows-1EBDDED74FC7BA6D37044DAEB574071D/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-4EEE8D3449F6697319FA7FB79DC98B7A/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-724B37BC4C3452173F00C7A810128B45/CrashReportClient.ini
Saved/Config/WindowsEditor/Editor.ini
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Config/WindowsEditor/Engine.ini
Saved/Config/WindowsEditor/ObjectMixerSerializedData.ini
Saved/Config/WindowsEditor/PhysicsControl.ini
Saved/Config/WorldState/1775627752.json
Saved/Crashes/UECC-Windows-431F59CA4401F567DF5F28A213DE51F3_0000/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-431F59CA4401F567DF5F28A213DE51F3_0000/CrashReportClient.ini
Saved/Crashes/UECC-Windows-431F59CA4401F567DF5F28A213DE51F3_0000/StarWars.log
Saved/Crashes/UECC-Windows-43690E7E4BEC6474B8E8288F4792859C_0000/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-43690E7E4BEC6474B8E8288F4792859C_0000/CrashReportClient.ini
Saved/Crashes/UECC-Windows-43690E7E4BEC6474B8E8288F4792859C_0000/StarWars.log
Saved/Crashes/UECC-Windows-4EEE8D3449F6697319FA7FB79DC98B7A_0000/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-4EEE8D3449F6697319FA7FB79DC98B7A_0000/CrashReportClient.ini
Saved/Crashes/UECC-Windows-4EEE8D3449F6697319FA7FB79DC98B7A_0000/StarWars.log
Saved/Crashes/UECC-Windows-5CC30E354BE67EFA64857EB6911560CA_0000/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-5CC30E354BE67EFA64857EB6911560CA_0000/CrashReportClient.ini
Saved/Crashes/UECC-Windows-5CC30E354BE67EFA64857EB6911560CA_0000/StarWars.log
Saved/Crashes/UECC-Windows-5D17D3EB46BB1635714828AC1DA48A33_0000/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-5D17D3EB46BB1635714828AC1DA48A33_0000/CrashReportClient.ini
Saved/Crashes/UECC-Windows-5D17D3EB46BB1635714828AC1DA48A33_0000/StarWars.log
Saved/Crashes/UECC-Windows-5DB9F61041AA5A9CD02CD793A5811773_0000/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-5DB9F61041AA5A9CD02CD793A5811773_0000/CrashReportClient.ini
Saved/Crashes/UECC-Windows-5DB9F61041AA5A9CD02CD793A5811773_0000/StarWars_2.log
Saved/Crashes/UECC-Windows-5DB9F61041AA5A9CD02CD793A5811773_0000/UEMinidump.dmp
Saved/Crashes/UECC-Windows-8739AEE746F0C56B608D10A001D5539A_0000/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-8739AEE746F0C56B608D10A001D5539A_0000/CrashReportClient.ini
Saved/Crashes/UECC-Windows-8739AEE746F0C56B608D10A001D5539A_0000/StarWars.log
Saved/Crashes/UECC-Windows-A1FBAA3441A5F364B753A4B1F13208E5_0000/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-A1FBAA3441A5F364B753A4B1F13208E5_0000/CrashReportClient.ini
Saved/Crashes/UECC-Windows-A1FBAA3441A5F364B753A4B1F13208E5_0000/StarWars.log
Saved/Crashes/UECC-Windows-A1FBAA3441A5F364B753A4B1F13208E5_0001/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-A1FBAA3441A5F364B753A4B1F13208E5_0001/CrashReportClient.ini
Saved/Crashes/UECC-Windows-A1FBAA3441A5F364B753A4B1F13208E5_0001/Slate.txt
Saved/Crashes/UECC-Windows-A1FBAA3441A5F364B753A4B1F13208E5_0001/StarWars.log
Saved/Crashes/UECC-Windows-A1FBAA3441A5F364B753A4B1F13208E5_0001/UEMinidump.dmp
Saved/Crashes/UECC-Windows-ACE791F84D683C5E43E748B86B0EC604_0000/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-ACE791F84D683C5E43E748B86B0EC604_0000/CrashReportClient.ini
Saved/Crashes/UECC-Windows-ACE791F84D683C5E43E748B86B0EC604_0000/StarWars.log
Saved/Crashes/UECC-Windows-C9524DD347D4C88039EBACA783E09221_0000/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-C9524DD347D4C88039EBACA783E09221_0000/CrashReportClient.ini
Saved/Crashes/UECC-Windows-C9524DD347D4C88039EBACA783E09221_0000/StarWars.log
Saved/Crashes/UECC-Windows-E16F8E1B440F9A81294EFAB3139415A1_0000/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-E16F8E1B440F9A81294EFAB3139415A1_0000/CrashReportClient.ini
Saved/Crashes/UECC-Windows-E16F8E1B440F9A81294EFAB3139415A1_0000/StarWars.log
Saved/Crashes/UECC-Windows-E16F8E1B440F9A81294EFAB3139415A1_0001/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-E16F8E1B440F9A81294EFAB3139415A1_0001/CrashReportClient.ini
Saved/Crashes/UECC-Windows-E16F8E1B440F9A81294EFAB3139415A1_0001/StarWars.log
Saved/Crashes/UECC-Windows-E16F8E1B440F9A81294EFAB3139415A1_0001/UEMinidump.dmp
Saved/Crashes/UECC-Windows-E16F8E1B440F9A81294EFAB3139415A1_0002/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-E16F8E1B440F9A81294EFAB3139415A1_0002/CrashReportClient.ini
Saved/Crashes/UECC-Windows-E16F8E1B440F9A81294EFAB3139415A1_0002/Slate.txt
Saved/Crashes/UECC-Windows-E16F8E1B440F9A81294EFAB3139415A1_0002/StarWars.log
Saved/Crashes/UECC-Windows-E16F8E1B440F9A81294EFAB3139415A1_0002/UEMinidump.dmp
Saved/Crashes/UECC-Windows-E16F8E1B440F9A81294EFAB3139415A1_0003/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-E16F8E1B440F9A81294EFAB3139415A1_0003/CrashReportClient.ini
Saved/Crashes/UECC-Windows-E16F8E1B440F9A81294EFAB3139415A1_0003/StarWars.log
Saved/Crashes/UECC-Windows-E16F8E1B440F9A81294EFAB3139415A1_0003/UEMinidump.dmp
Saved/Crashes/UECC-Windows-E5D681304FEE354D7C8F21981B3FF45D_0000/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-E5D681304FEE354D7C8F21981B3FF45D_0000/CrashReportClient.ini
Saved/Crashes/UECC-Windows-E5D681304FEE354D7C8F21981B3FF45D_0000/Slate.txt
Saved/Crashes/UECC-Windows-E5D681304FEE354D7C8F21981B3FF45D_0000/StarWars.log
Saved/Crashes/UECC-Windows-E5D681304FEE354D7C8F21981B3FF45D_0000/UEMinidump.dmp
Saved/Logs/StarWars-backup-2024.01.05-01.20.10.log
Saved/Logs/StarWars-backup-2024.01.07-23.22.45.log
Saved/Logs/StarWars-backup-2024.01.09-13.03.25.log
Saved/Logs/StarWars-backup-2024.01.09-22.37.23.log
Saved/Logs/StarWars-backup-2024.01.10-00.23.20.log
Saved/Logs/StarWars-backup-2024.01.10-01.12.40.log
Saved/Logs/StarWars-backup-2024.01.10-04.16.55.log
Saved/Logs/StarWars-backup-2024.01.10-04.33.06.log
Saved/Logs/StarWars-backup-2024.01.10-04.34.42.log
Saved/Logs/StarWars-backup-2024.01.10-19.15.44.log
Saved/Logs/StarWars-backup-2024.01.10-22.24.43.log
Saved/Logs/StarWars-backup-2024.01.11-02.46.42.log
Saved/Logs/StarWars.log
Saved/Logs/StarWars_2.log
Saved/SourceControl/UncontrolledChangelists.json
Intermediate/CachedAssetRegistry_0.bin
Intermediate/ShaderAutogen/PCD3D_SM5/AutogenShaderHeaders.ush
Intermediate/ShaderAutogen/PCD3D_SM6/AutogenShaderHeaders.ush
Saved/AutoScreenshot.png
Saved/Config/CrashReportClient/UECC-Windows-1EBDDED74FC7BA6D37044DAEB574071D/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-724B37BC4C3452173F00C7A810128B45/CrashReportClient.ini
Saved/Config/WindowsEditor/Editor.ini
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Config/WindowsEditor/Engine.ini
Saved/Logs/StarWars-backup-2024.01.05-01.20.10.log
Saved/Logs/StarWars-backup-2024.01.07-23.22.45.log
Saved/Logs/StarWars.log
Intermediate/CachedAssetRegistry_0.bin
Intermediate/ShaderAutogen/PCD3D_SM5/AutogenShaderHeaders.ush
Intermediate/ShaderAutogen/PCD3D_SM6/AutogenShaderHeaders.ush
Saved/AutoScreenshot.png
Saved/Config/CrashReportClient/UECC-Windows-1EBDDED74FC7BA6D37044DAEB574071D/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-724B37BC4C3452173F00C7A810128B45/CrashReportClient.ini
Saved/Config/WindowsEditor/Editor.ini
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Config/WindowsEditor/Engine.ini
Saved/Logs/StarWars-backup-2024.01.05-01.20.10.log
Saved/Logs/StarWars-backup-2024.01.07-23.22.45.log
Saved/Logs/StarWars.log
Intermediate/CachedAssetRegistry_0.bin
Intermediate/ReimportCache/3688439234.bin
Intermediate/ShaderAutogen/PCD3D_SM5/AutogenShaderHeaders.ush
Intermediate/ShaderAutogen/PCD3D_SM6/AutogenShaderHeaders.ush
Saved/AutoScreenshot.png
Saved/Config/CrashReportClient/UECC-Windows-19AE996B488F0F88F09DC3BB9ADE6999/CrashReportClient.ini
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Config/WindowsEditor/Engine.ini
Saved/Config/WorldState/148418139.json
Saved/Crashes/UECC-Windows-19AE996B488F0F88F09DC3BB9ADE6999_0000/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-19AE996B488F0F88F09DC3BB9ADE6999_0000/CrashReportClient.ini
Saved/Crashes/UECC-Windows-19AE996B488F0F88F09DC3BB9ADE6999_0000/StarWars.log
Saved/Logs/StarWars-backup-2024.01.12-22.12.03.log
Saved/Logs/StarWars.log
Saved/Config/WindowsEditor/Editor.ini
Intermediate/CachedAssetRegistry_0.bin
Intermediate/ReimportCache/3688439234.bin
Intermediate/ShaderAutogen/PCD3D_SM5/AutogenShaderHeaders.ush
Intermediate/ShaderAutogen/PCD3D_SM6/AutogenShaderHeaders.ush
Saved/AutoScreenshot.png
Saved/Config/CrashReportClient/UECC-Windows-E2F94533474B9B36DB55CBBB5634990D/CrashReportClient.ini
Saved/Config/WindowsEditor/Editor.ini
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Config/WindowsEditor/Engine.ini
Saved/Crashes/UECC-Windows-E2F94533474B9B36DB55CBBB5634990D_0000/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-E2F94533474B9B36DB55CBBB5634990D_0000/CrashReportClient.ini
Saved/Crashes/UECC-Windows-E2F94533474B9B36DB55CBBB5634990D_0000/StarWars.log
Saved/Logs/StarWars-backup-2024.01.12-23.08.32.log
Saved/Logs/StarWars.log
Intermediate/CachedAssetRegistry_0.bin
Intermediate/ReimportCache/3688439234.bin
Intermediate/ShaderAutogen/PCD3D_SM5/AutogenShaderHeaders.ush
Intermediate/ShaderAutogen/PCD3D_SM6/AutogenShaderHeaders.ush
Saved/AutoScreenshot.png
Saved/Config/CrashReportClient/UECC-Windows-85CA18554DBB85A4D4D49BBACC36FE01/CrashReportClient.ini
Saved/Config/WindowsEditor/Editor.ini
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Config/WindowsEditor/Engine.ini
Saved/Logs/StarWars-backup-2024.01.12-23.37.24.log
Saved/Logs/StarWars.log
Content/SpaceColonies/Maps/OtherPlanetsDemoMap.umap
Intermediate/CachedAssetRegistry_0.bin
Intermediate/ReimportCache/3688439234.bin
Intermediate/ShaderAutogen/PCD3D_SM5/AutogenShaderHeaders.ush
Intermediate/ShaderAutogen/PCD3D_SM6/AutogenShaderHeaders.ush
Saved/Autosaves/Game/Characters/Titans/Dinosaur/SKM_T-Rex_Auto1.uasset
Saved/Autosaves/Game/Characters/Titans/Dinosaur/SKM_T-Rex_PhysicsAsset_Auto1.uasset
Saved/Autosaves/Game/Characters/Titans/Dinosaur/SKM_T-Rex_Skeleton_Auto1.uasset
Saved/Autosaves/PackageRestoreData.json
Saved/AutoScreenshot.png
Saved/Config/CrashReportClient/UECC-Windows-248965E945DA5EE4D4F43B947702E80C/CrashReportClient.ini
Saved/Config/WindowsEditor/Editor.ini
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Config/WindowsEditor/Engine.ini
Saved/Crashes/UECC-Windows-248965E945DA5EE4D4F43B947702E80C_0000/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-248965E945DA5EE4D4F43B947702E80C_0000/CrashReportClient.ini
Saved/Crashes/UECC-Windows-248965E945DA5EE4D4F43B947702E80C_0000/StarWars.log
Saved/Logs/StarWars-backup-2024.01.12-23.40.46.log
Saved/Logs/StarWars.log
